<footer>
    <div class="footer-col">
    <h3><a href="exam.html">Top Products</a></h3>
    <ul>
        <li><a href="/">Manage Reputation</a></li>
        <li><a href="/">Power Tools</a></li>
        <li><a href="/">Managed Website</a></li>
        <li><a href="/">Marketing Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/resources">Quick Links</a></h3>
    <ul>
        <li><a href="/resources">Jobs</a></li>
        <li><a href="/resources">Brand Assets</a></li>
        <li><a href="/resources">Investor Relations</a></li>
        <li><a href="/resources">Terms of Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/">Features</a></h3>
    <ul>
        <li><a href="/">Manage Reputation</a></li>
        <li><a href="/">Power Tools</a></li>
        <li><a href="/">Managed Website</a></li>
        <li><a href="/">Marketing Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/Authresources">Resources</a></h3>
    <ul>
        <li><a href="/Authresources">Guides</a></li>
        <li><a href="/Authresources">Research</a></li>
        <li><a href="/Authresources">Experts</a></li>
        <li><a href="/Authresources">Marketing Service</a></li>
    </ul>
</div>
    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>You can trust us. we only send promo offers,</p>
        <div class="subscribe">
            <input type="text" name="" placeholder="Your Email Address" id="">
            <a class="yellow" href="#">SUBSCRIBE</a>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2021 All rights reserved | ULocate.corp</p>
        <div class="pro-link">
<a href="https://www.facebook.com/your-facebook-page" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
<a href="https://www.instagram.com/your-instagram-page" target="_blank">
<i class="fab fa-instagram"></i>
</a>
<a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
</div>

    </div>
</footer>

