<%-include("partials/header.ejs")%>

<section id="cont-home">
    <h2>Contact Us /</h2>
</section>

<section id="contact">
    <div class="floating-box">
        <h2>Get in touch</h2>
        <p>Don't know where to start? Fill the form and let us help to start your journey.</p>

        
            <h3>Headquaters</h3>
            <div>
                <i class="far fa-home get"></i>
                <p>123 University Avenue, Toronto</p>
            </div>
            <h3>Phone</h3>
            <div>
                <i class="fas fa-phone-alt get"></i>
                <p>(+123) 456 678 910 <br> (+123) 456 678 911</p>
            </div>
            <h3>Support</h3>
            <div>
<a href="mailto:uLocate@support.com">
<i class="fal fa-envelope-open-text get"></i>
<p>uLocate@support.com</p>
</a>
<a href="mailto:help@uLocate.com">
<p>help@uLocate.com</p>
</a>
</div>
            <h3>Follow Us</h3>
            <div class="pro-link">
<a href="https://www.facebook.com/your-facebook-page" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
<a href="https://www.instagram.com/your-instagram-page" target="_blank">
<i class="fab fa-instagram"></i>
</a>
<a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
</div>

        </div>
    </div>

    <div class="form">
        <h4>Let’s Connect</h4>
        <p>Reach out to us to get started!!</p>
        <div class="form-row">
            <input type="text" placeholder="Your Name" name="" id="">
            <input type="text" placeholder="Your Email" name="" id="">
        </div>
        <div class="form-col">
            <input type="text" placeholder="Subject" name="" id="">
        </div>
        <div class="form-col">
            <textarea name="" id="" cols="30" rows="8" placeholder="How can we help?"></textarea>
        </div>
        <div class="form-col">
            <button>Send Message</button>
        </div>
    </div>
</section>

<section id="map">
<img src="/images/map.jpeg" alt="">
</section>

<footer>
    <div class="footer-col">
    <h3><a href="exam.html">Top Products</a></h3>
    <ul>
        <li><a href="/">Manage Reputation</a></li>
        <li><a href="/">Power Tools</a></li>
        <li><a href="/">Managed Website</a></li>
        <li><a href="/">Marketing Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/resources">Quick Links</a></h3>
    <ul>
        <li><a href="/resources">Jobs</a></li>
        <li><a href="/resources">Brand Assets</a></li>
        <li><a href="/resources">Investor Relations</a></li>
        <li><a href="/resources">Terms of Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/">Features</a></h3>
    <ul>
        <li><a href="/">Manage Reputation</a></li>
        <li><a href="/">Power Tools</a></li>
        <li><a href="/">Managed Website</a></li>
        <li><a href="/">Marketing Service</a></li>
    </ul>
</div>
<div class="footer-col">
    <h3><a href="/resources">Resources</a></h3>
    <ul>
        <li><a href="/resources">Guides</a></li>
        <li><a href="/resources">Research</a></li>
        <li><a href="/resources">Experts</a></li>
        <li><a href="/resources">Marketing Service</a></li>
    </ul>
</div>
    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>You can trust us. we only send promo offers,</p>
        <div class="subscribe">
            <input type="text" name="" placeholder="Your Email Address" id="">
            <a class="yellow" href="#">SUBSCRIBE</a>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2021 All rights reserved | ULocate.corp</p>
        <div class="pro-link">
<a href="https://www.facebook.com/your-facebook-page" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
<a href="https://www.instagram.com/your-instagram-page" target="_blank">
<i class="fab fa-instagram"></i>
</a>
<a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
</div>

    </div>
</footer>

<script>
    $("#menu-btn").click(function() {
        $("nav .navigation ul").addClass("active");
    });
    $("#menu-close").click(function() {
        $("nav .navigation ul").removeClass("active");
    });
</script>

</body>

</html>